@model String

<button id="btnTestLostDOM">Not connected after button click</button><br />
@Html.TextBox("txtLostDom", Model, new { @id = "txtLostDom" })<br />
@Html.Label("should refresh date time here", new { @id = "lblLostDom" })<br />



