@model String

<button id="btnTestRefresh">Connected on refresh</button><br />
@Html.TextBox("txtRefresh", Model, new { @id = "txtRefresh" })<br />
@Html.Label("should refresh date time here", new { @id = "lblRefresh" })<br />
